/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
}

/* Desktop Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin: 0 24px;
}

nav .logo {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.logo h1 {
    flex-wrap: wrap;
    font-weight: bold;
}

.logo span {
    font-weight: 300;
}

/* Desktop header */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d8d8d8;
    color: #525151;
}
.header-image {
    width: 60%;
    margin: 32px 26px;
}

.header-content h1{
    margin: 10px;
    font-size:70px;
}
.header-content h3{
    margin: 10px;
    font-size: 36px;
}
.header-content button{
    margin: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 20px 150px;
    font-size: 20px;
    background-color: #5f5c5c;
    color: white;
}