* {
    margin: 0;
    padding: 0;
}

/* Desktop Nav */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin: 0 24px;
}

nav .logo {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.logo h1 {
    flex-wrap: wrap;
}